* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Bold: 700 Semibold: 600 */
/* background-color: var(--background-gradient); */

body {
  background-color: #1f3757;
  margin: 0;
  font-family: 'Barlow Semi Condesed', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  margin-bottom: 0;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;

}

.image-game-simple, .image-game-advanced {
  position: relative;
  left: 250px;
  width: 280px; 
  height: auto;
  margin-bottom: 50px;
}

.title-simple-mode, .title-advanced-mode {
  font-size: 30px;
  font-weight: bold;
  color: white;
  align-items: center;
}

.title-advanced-mode {
  margin-right: 180px;
}

/* @media screen and (width>786px) {
  .main {
    flex-direction: row;
    width: 100%;
    margin-top: 64px;
  }
}

/* Primera pantalla

.game-modes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-simple {
  flex-direction: column;
}

.game-simple-text {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

 */

/* Segunda pantalla */

.score {
  display: flex;
  font-weight: 700;
  font-size: 10px;
}

.text-score {
}

.naming {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: column;
  text-align: center;
}
